/* HERDADO DO XML Miner*/

body {
    background: #c5e9ee;
}

.row {
    text-align: center;
}

#pagina-revisar-anotacoes{
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 26% 48% 26%;
}



.card{
    width: 60%;
    height: auto;
    display:inline-block;
    vertical-align: middle;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-tab{
  width: 94%;
  height: auto;
  display:inline-block;
  vertical-align: middle;
  background: #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 3%;
  border: rgba(228, 228, 228, 0.823);
}

.card-ato{
  width: 90%;
  height: 85vh !important; 
  display:inline-block;
  vertical-align: middle;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
  margin-top: 5px;
  padding: 10px;
}

.tabela-atos{
  margin-top: 20px;
}

.card-csv{
    width: 85%;
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-title{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

.card-subtitle{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: center;
    color: #000000;
}

.card-pdf-box{
    background: #FFFFFF;
    border: 1px dashed #6C63FF;
    box-sizing: border-box;
    margin-left: 5vh;
    text-align: center;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

.card-logo-pdf{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.choose-button{   
    width: auto;
    height: 41px;
    text-align: center;
    background: #72ccd8;
    border-radius: 20px;
    margin-bottom: 30px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.text-pdf{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
}

.text-act{
    font-family: Raleway;
    font-style: bold;
    font-weight: 500;
    font-size: 36px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
}

.text-ocu{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
}

.background-img{
    position: relative;
    width: 624px;
    height: 395px;
    left: 50%;
}

a {
    font-family: Raleway;
    font-size: 16px;
    
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    
    color: black;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
    
} 

.Button {
    height: 4vh;
    text-align: center;
    background: #72ccd8;
    /*box-shadow: 0 5px 0 #1ba6b8;*/
    color: white;
    border-radius: 3px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
}


.Button:hover {
    border: none;
    background-color:  #1ba6b8;
    color: black;
} 

.Button-control {
  width: 100%;
  height: 4vh;
  text-align: center;
  background: #72ccd8;
  /*box-shadow: 0 5px 0 #1ba6b8;*/
  color: white;
  border-radius: 3px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
}


.Button-control:hover {
  border: none;
  background: #72ccd8;
  background-color:  #1ba6b8;
  color: black;
}



.input {
    width: 90%;
    float: left;
    vertical-align: middle;
    text-align: center;
}

h2 {
    margin-top: 0px;
}

/* HERDADO DO Visnore 1.0 */
html {
  padding: 0px !important;
  margin: 0px !important;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  background-color:  #c5e9ee;
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Arimo", "Helvetica Light", "Helvetica Neue", Helvetica, "Helvetica 55 Roman";
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
  padding: 5px 30px 5px 30px;
}

#app-title {
  text-align: right;
  font-family: Raleway;
  line-height: 1;
  margin: 0 !important;
  color: whitesmoke;
}

#app-header {
  background-color:  #1ba6b8;
  height: 3.2em;
  display: grid;
  place-items: center;
  grid-template-columns: 24% 52% 24%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header_title {
  color: whitesmoke;
  margin: 0;
}

.logo {
  height: 60px;
  width: auto;
  justify-content: left;
  padding-right: 20vh;
}

@media only screen and (max-width: 550px) {
  #logo {
    height: 45px;
    width: auto;
    float: left;
  }
}

  /* ABOUT US */ 
#about-button {
    margin-right: 20px;
    padding-top: 0px;
    color: whitesmoke;
    border:  none ;
    background-color: #1ba6b8;

    height: 4vh;
    text-align: center;
    border-radius: 3px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }

  #about-button:hover {
    border: none;
    background-color: #49c6d6;
}  
  
  #about-us {  
    padding: 50px 45px 0px 45px;
  }

  #learn-more-button {
    text-decoration: none;
    padding: 5px;
    margin-bottom: 15vh;
  }

  #graph-relacoes, #graph-entidades {
    height: 72vh;
  }
  
  #graph-relacoes>div>div>svg:nth-child(1) {
    background-color: #f2f3f4 !important;
  }
  
  #graph-relacoes>div>div>svg:nth-child(1)>g.bglayer>rect {
    fill: #f2f3f4 !important;
  }
  
  #graph-relacoes>div>div>svg:nth-child(1)>g.bglayer>rect {
    fill: #f2f3f4;
    fill-opacity: 1;
    stroke-width: 0;
  }

  /* CONTROL TABS */

  .card-graph{
    width: 75vh;
    height: auto;
    display:inline-block;
    vertical-align: middle;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

#menu, #menu-entidades{
  height: auto;
  width: 75vh;
  vertical-align: middle;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 5px;
  margin-left: 5%;

}


/* guias que aparecem na lateral */

#control-tab{
  overflow-y: auto;
  height: 77vh;
}

.control-tabs {
  overflow-y: auto;
  height: 88vh;
  margin-right: 0px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 10pt;
  float: right;
  border-radius: 10px;
  margin-right: 10px;
}

.control-tabs .tab {
  background-color: #49c6d6 !important;
  color: #E2EFFA !important;
  padding: 15px;
  border-color: #1ba6b8 !important;
  border-bottom: solid 5px  #1ba6b8 !important;
  
}

.control-tabs .tab--selected {
  border-bottom:  0px   !important;
  color: whitesmoke !important;
  border-top: none;
  border-color: #1ba6b8 !important;
}

.tabs {
  border-radius: 20px;
  padding-right: 15px;
  
}

/* scroolbar das guias */
.control-tabs ::-webkit-scrollbar {
  background-color: #fff !important;
  width: 10px;
  margin: 5px;
}

.control-tabs ::-webkit-scrollbar-thumb {
  background-color:  #1ba6b8 !important;
  width: 5px;
}

#dataset {
  text-align: center;
  padding-top: 30%;
  padding-left: 5%;
  padding-right: 5%;
  height: 90vh;
  
}

#selected-point {
  text-align: justify;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: hidden;
}

#salvar-corrigir-classes-link {
  background: none;
  box-shadow: none;
}

#input-corrigir-classe{
  text-align: justify;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

#enviar-corrigir-classe-button{
  margin-left: 12vh;
}

#corrigir-classe-buttons{
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 8px;
  justify-content: space-between;
}

#corrigir-classe-buttons .Button{
  width: 19vh;
  text-align: center;
  padding: 0px;
}

.select-arrow-zone {
  color: white;
}

#dropdown-method, #dropdown-method-entidades{
  font-size: medium;
  min-width: 16vh;
}

#dropdown-label, #dropdown-label-entidades{
  font-size: medium;
  min-width: 16vh;
}

#dropdown-classes{
  font-size: medium;
}


#tabs{
  font-size: medium;
}

#menu-visualizacoes, #menu-visualizacoes-entidades{
  display: grid;
  place-items: center;
  grid-template-columns: 25% 25% 50%;
  justify-content: flex-start;
  padding: 7px;
}

.row.row-0 {
  display:block !important
}

.row.row-1 {
  display:block !important
}

/**[data-dash-is-loading="true"]{
  visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
  content: "Loading...";
  display: inline-block;
  color: magenta;
  visibility: visible;
}*/

@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.99;
  }
}

._dash-loading-callback {
font-family: sans-serif;
padding-top: 50px;
color: rgb(90, 90, 90);

/* The banner */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
cursor: progress;

opacity: 0;
background-color: rgba(248, 248, 248, 0.89);
/* Delay animation by 1s to prevent flashing 
   and smoothly transition the animation over 0.5s 
 */
-moz-animation: fadein 0.5s ease-in 1s forwards; /* Firefox */
-webkit-animation: fadein 0.5s ease-in 1s forwards; /* Safari and Chrome */
-o-animation: fadein 0.5s ease-in 1s forwards; /* Opera */
  animation: fadein 0.5s ease-in 1s forwards;
}