
/*#################################*/
/*##                             ##*/
/*##          UPLOADER           ##*/
/*##                             ##*/
/*#################################*/


.uploader_card{
    position: relative;
    margin: auto;
    margin-top: 25vh;
    width: 60%;
    background: #FFFFFF;
    padding: 10px;

}

.uploader_title{
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-left: 5vh;
    margin-bottom: 10px;
}

.upload_box{
    background: #FFFFFF;
    border: 1px dashed #2894A3;
    box-sizing: border-box;
    margin-left: 5vh;
    text-align: center;
}

.uploader_img{
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.uploader_file_type{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: fit-content;
    margin-left: 5vh;
    margin-bottom: 10px;
    vertical-align: middle;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.99;
    }
  }

._dash-loading-callback {
    font-family: sans-serif;
    padding-top: 50px;
    color: rgb(90, 90, 90);
    
    /* The banner */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: progress;
    
    opacity: 0;
    background-color: rgba(248, 248, 248, 0.89);
    /* Delay animation by 1s to prevent flashing 
       and smoothly transition the animation over 0.5s 
     */
    -moz-animation: fadein 0.5s ease-in 1s forwards; /* Firefox */
    -webkit-animation: fadein 0.5s ease-in 1s forwards; /* Safari and Chrome */
    -o-animation: fadein 0.5s ease-in 1s forwards; /* Opera */
      animation: fadein 0.5s ease-in 1s forwards;
    }

/*#################################*/
/*##                             ##*/
/*##          REVIEWER           ##*/
/*##                             ##*/
/*#################################*/


#reviewer_topmenu {
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto 50%;
    justify-content: space-evenly;
    margin-left: 1vh;
    margin-bottom: 10px;
}

#reviewer_annotations_view {
    margin-bottom: 2vh;
}

#point_visualization{
    height: 89.5vh; 
}

/*#################################*/
/*##                             ##*/
/*##           BUTTONS           ##*/
/*##                             ##*/
/*#################################*/

.button {
    background-color: #2894A3; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.base_button {
    background-color: white; 
    transition-duration: 0.4s;
    color: black; 
    border: 1px solid #2894A3;
    margin-bottom: 3vh;
}
  
.base_button:hover {
    background-color: #2894A3;
    color: white;
}
  
.base_button_reverse {
    background-color: #2894A3; 
    transition-duration: 0.4s;
    color: white; 
    border: 1px solid white;
    align-self: center;
    width: fit-content;
}
  
.base_button_reverse:hover {
    background-color: white;
    color: #2894A3;
}

/*#################################*/
/*##                             ##*/
/*##          REVIEWER           ##*/
/*##                             ##*/
/*#################################*/




.nav_link{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  
.nav_link:hover{
    background-color: #555;
    color: white;
  }


.reviewer_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #2894A3;
}

.reviewer_content{
    margin-left: 18rem;
    margin-right: 2rem;
}