html {
  padding: 0px !important;
  margin: 0px !important;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #f2f3f4;
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Arimo", "Helvetica Light", "Helvetica Neue", Helvetica, "Helvetica 55 Roman";
  color: #6c7182;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
  padding: 7px 30px;
}

#app-title {
  text-align: right;
  font-family: "Times New Roman";
  line-height: 1;
  margin: 0 !important;
}

#app-header {
  background-color: #1F2132;
  height: 3.3em;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  justify-content: space-between
}

.header_img {
  float: left;
}

.header_title {
  color: #6c7182;
  margin: 0;
}

.logo {
  height: 60px;
  width: auto;
  float: left;
}

@media only screen and (max-width: 550px) {
  #logo {
    height: 45px;
    width: auto;
  }
}

/* ABOUT US */ 
#about-button {
  margin-right: 20px;
  padding: 5px;
  padding-top: 0px;
  color: #6c7182;
}

#about-us {
  display: none;
  text-align: center;
  align-content: center;
  margin: 0 10%;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0px;
  letter-spacing: 0;
  padding: 50px 45px 0px 45px;
}

/* HELP */
#help{
  align-content: center;
  text-align: center;
}
#help-text{
  margin-left: 2%;
  text-align: left;
}

#tutorial-button{
  text-align: center;
  padding: 15px;
  padding-top: 0px;
  place-content: center;
  text-align: center;
}

/* CONTROL TABS */

/* guias que aparecem na lateral */
#control-tabs {
  height: 95vh;
  overflow-y: hidden;
  margin-right: 0px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255) !important;
  font-size: 10pt;
  float: right;
}

#control-tabs .tab {
  background-color: #262B3D !important;
  color: #E2EFFA !important;
  padding: 15px;
  border-color: #557 !important;
}

#control-tabs .tab--selected {
  border-top: solid 2px #59b3ea !important;
  color: #59b3ea !important;
}

.tabs {
  height: 460px;
  padding-right: 15px;
}

/* scroolbar das guias */
#control-tabs ::-webkit-scrollbar {
  background-color: #fff !important;
  width: 10px;
  margin: 5px;
}

#control-tabs ::-webkit-scrollbar-thumb {
  background-color: rgb(30, 33, 59) !important;
  width: 5px;
}

#dataset {
  text-align: center;
  padding-top: 30%;
  padding-left: 5%;
  padding-right: 5%;
  height: 90vh;
  overflow-y: auto;
}

#selected-point {
  text-align: justify;
  height: 90vh;
  padding: 10px;
  margin-left: 10px;
  overflow-y: auto;
}

.background {
  background-color: #f2f3f4;
  padding: 0px 0px;
}

.select-arrow-zone {
  color: white;
}

.card-style {
  min-width: 200px;
  margin: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#menu {
  height: auto;
  padding: 0%;
}

#graph-3d-plot-tsne {
  height: 100vh;
}

#graph-3d-plot-tsne>div>div>svg:nth-child(1) {
  background-color: #f2f3f4 !important;
}

#graph-3d-plot-tsne>div>div>svg:nth-child(1)>g.bglayer>rect {
  fill: #f2f3f4 !important;
}

#graph-3d-plot-tsne>div>div>svg:nth-child(1)>g.bglayer>rect {
  fill: #f2f3f4;
  fill-opacity: 1;
  stroke-width: 0;
}

#react-select-2--value-item {
  color: #6c7182;
}

#graph-3d-plot-tsne>div>div>svg:nth-child(3)>g.infolayer>g.legend>rect.bg {
  stroke: #6c7182 !important;
  fill: #f2f3f4 !important;
}




/* ---Different Screen Sizes--- */

@media only screen and (max-width: 768px) {
  .columns {
    float: none;
    width: 90%;
  }
  .three.columns {
    margin: auto;
    width: 75%;
  }
  .four.columns {
    margin: auto;
    width: 90%;
  }
  .six.columns {
    margin: 10% 10%;
    width: auto;
  }
  .nine.columns {
    float: left;
    margin: 0;
    width: 100%;
  }
  background {
    width: 100%;
  }
  #app-header {
    background-color: #1F2132;
  }
  #app-title {
    text-align: right;
    font-family: "Times New Roman";
    line-height: 1
  }

  #logo {
    height: 50px;
  }
  .header_img {
    float: left;
    margin: 0;
  }
  #about-us {
    text-align: center;
    padding-right: 0 !important;
  }
  #about-us>div>div:nth-child(1) {
    padding-right: 7%;
  }
  #about-us>div:nth-child(2) {
    padding-right: 15%;
  }
  #about-us>div>div:nth-child(3) {
    padding-right: 15%;
  }
}



.list li {
  margin-bottom: 4px;
}

#div-plot-click-message {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
}





#legenda {
  text-align: justify;
  padding: 10px;
  height: 90vh;
  overflow-y: auto;
}



#euclidean-distance {
  text-align: center;
  margin-bottom: 7px;
  font-weight: bold;
}

#menu-huge {
  padding: 0px 45px 10px 45px;
}



menu #dropdown-dataset {
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0px;
  letter-spacing: 0;
  padding: 0px 15px;
  background-color: #232323;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* BUTTONS  */
  
#learn-more-button {
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.Button0 {
  background-color: #262B3D; 
  color: white; 
  margin-left: 5px;
  padding: 2px;
  padding-top: 0px;
  text-align: center;
  
}

.Button0:hover {
  border: 2px solid #262B3D;
  background-color:  white;
  color: black;
}

.Button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #263172;
  float: right;
  margin-left: 20px;
}

.Button1:hover {
  background-color: #263172;
  color: white;
}

.Button2 {
  background-color:  rgb(135, 202, 59);
  color: white;
  margin-right: 10px;
}

.Button2:hover {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(135, 202, 59);
  margin-right: 10px;
}

.Button3 {
  background-color: white; 
  color: black; 
  margin-left: 5px;
  padding: 2px;
  padding-top: 0px;
  text-align: center;
  border: 2px solid rgb(70, 70, 70);
}

.Button3:hover {
  background-color:  rgb(70, 70, 70);
  color: white;
}

.Button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #263172;
  float: right;
}

.Button4:hover {
  background-color: #263172;
  color: white;
}

.Button5 {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(139, 139, 132);
  float: right;
  padding: 0px;
  margin-right: 10px;
}

.Button5:hover {
  background-color: rgb(139, 139, 132);
  color: white;
}

.text-act{
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-weight: 500;
  font-size: 36px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;

}

.text-ocu{
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  /* identical to box height */
  background-color: #f2f3f4;
  color: #1F2132;
  box-shadow: 0px 4px 4px rgba(0, 140, 186, 0.25);
  padding: 5px;
  text-align: center;
}

#qnt-annotations{
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  /* identical to box height */
  place-content: center;
  background-color: #f2f3f4;
  color: #1F2132;
  box-shadow: 0px 4px 4px rgba(0, 140, 186, 0.25);
  padding: 5px;
  
}

.card{
  width: 60%;
  height: 40vh;
  display:inline-block;
  vertical-align: middle;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
  
}

.card-csv{
  width: 96%;
  height: auto;
  padding: 30px;
  display: inline-block;
  vertical-align: middle;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
  place-content: center;
}

.card-title{

  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  text-align: center;

  color: #000000;
}

.card-subtitle{

  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #000000;
}

#control-download{
  position: relative;
  left: 17%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 66%;
}

#download-button {
  border: 2px solid rgb(135, 202, 59);
  text-decoration: none;
  color: #000000;
  width: 100%;
}

#download-button a {
  text-decoration: none;
  color: #000000;
}

#download-button:hover {
  text-decoration: none;
  color: #f2f3f4;
  background-color:  rgb(135, 202, 59);  
}

#return-button {
  margin: 0;
}

#end-button {
  margin: 0;
}